input {
    width: 50px;
    height: 30px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 100px;
}
.button {
    background-color: slateblue;
    height: 36px;
    border: 3px solid black;
    border-radius: 10px;
}